<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css" />
    <title>Hello WebAssembly GoLang</title>
</head>

<body>
    <h1>Hello WebAssembly</h1>
    <p>It's {{.Time.Format "3:04PM" }} (in Greenwich)</p>
    <button id="get-html">Get HTML</button>
    <script src="./static/wasm_exec.js"></script>
    <script src="./static/script.js"></script>
</body>

</html>